<table border="3">
    <tr>
    <td>id</td>
    <td>nom</td>
    <td>Desc</td>
</tr>
{% for c in showbyid %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.nom}}</td>
    <td>{{c.description}}</td>
   
</tr>
{% endfor %}
</table>