


<table border="3">
    <tr>
    <td>id</td>
    <td>nom</td>

</tr>
{% for c in show %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.nom}}</td>
    <td><form action="{{path('app_listbyid',{'id':c.id})}}"><button type="submit" >Details</button></form></td>
    <td><form action="{{path('app_update',{'id':c.id})}}"><button type="submit" >Update</button></form></td>

</tr>
{% endfor %}
</table>